service: nwassik

frameworkVersion: "4"

package:
  patterns: # import the bare minimum (minimalistic)
    - "!**"
    - "src/**/*.py"
    - "requirements.txt"
    - "serverless.yaml"

custom:
  cognitoUserPoolId: ${env:COGNITO_USER_POOL_ID}
  cognitoAppClientId: ${env:COGNITO_APP_CLIENT_ID}

  stages:
    dev:
      baseDomain: https://api-dev.nwassik.com
    staging:
      baseDomain: https://api-staging.nwassik.com
    prod:
      baseDomain: https://api.nwassik.com

  pythonRequirements:
    usePoetry: false
    dockerizePip: true # build wheels in Docker (required for compiled deps as I am on MacOS/darwin)
    useStaticCache: true # Enable cache to prevent unnecessary layer rebuilds
    layer: true # Package dependencies as a Lambda Layer (shared across all functions)

    # Fail if no wheel! do not compile
    dockerBuildCmd: |
      pip install \
        --platform manylinux2014_x86_64 \
        --target /var/task \
        --implementation cp \
        --python-version 3.11 \
        --only-binary=:all: \
        --upgrade \
        -r requirements.txt

provider:
  name: aws
  runtime: python3.11
  region: ${env:AWS_REGION}
  stage: ${env:STAGE}
  memorySize: 256 # MB (currently using ~157MB, reduced from default , becareful as it impacts CPU)
  layers:
    - Ref: PythonRequirementsLambdaLayer
  environment:
    RUN_ENV: cloud # Running in cloud (i.e AWS Lambda) vs local
    STAGE: ${sls:stage}
    BASE_DOMAIN: ${self:custom.stages.${sls:stage}.baseDomain}
    DATABASE_SECRET_NAME: "nwassik/${sls:stage}/app-db-secret"
    MAX_USER_CREATED_REQUESTS: ${env:MAX_USER_CREATED_REQUESTS}
    MAX_USER_CREATED_FAVORITES: ${env:MAX_USER_CREATED_FAVORITES}
  iam:
    role: arn:aws:iam::${aws:accountId}:role/nwassik-${sls:stage}-lambda-app-role

  # NOTE: Using AWS API Gateway HTTP API (not REST API)
  #   Pros:
  #      - 70% cheaper ($1/M vs $3.50/M requests)
  #      - 60% faster (lower latency)
  #      - Native and simple JWT authentication support
  #      - Built-in CORS support
  #      - Supports OpenAPI documentation
  #   Cons:
  #      - Does NOT support request validation at gateway level (REST API can validate before Lambda runs; HTTP API cannot) i.e Validation must be done in Lambda code
  #      - Global throttling only (not per-user): uer-user rate limiting will be implemented in Lambda with Redis/DynamoDB later
  httpApi:
    name: nwassik-${sls:stage}
    # TODO: Add CORS configuration when connecting frontend
    authorizers:
      cognitoAuthorizer:
        type: jwt
        identitySource: $request.header.Authorization
        issuerUrl: https://cognito-idp.${aws:region}.amazonaws.com/${self:custom.cognitoUserPoolId}
        audience:
          - ${self:custom.cognitoAppClientId}

functions:
  # -----------------------------------------------------------------------------
  # HEALTH CHECK (Public - no authentication)
  # -----------------------------------------------------------------------------
  healthCheck:
    handler: src.handlers.health.check.health_check
    events:
      - httpApi:
          path: /health
          method: get

  # -----------------------------------------------------------------------------
  # REQUESTS
  # -----------------------------------------------------------------------------
  listRequests:
    handler: src.handlers.requests.list.list_requests
    events:
      - httpApi:
          path: /v0/requests
          method: get

  createRequest:
    handler: src.handlers.requests.create.create_request
    events:
      - httpApi:
          path: /v0/requests
          method: post
          authorizer:
            name: cognitoAuthorizer

  getRequest:
    handler: src.handlers.requests.get.get_request
    events:
      - httpApi:
          path: /v0/requests/{request_id}
          method: get

  listUserRequests:
    handler: src.handlers.requests.list_user_requests.list_user_requests
    events:
      - httpApi:
          path: /v0/users/{user_id}/requests
          method: get
          authorizer:
            name: cognitoAuthorizer

  deleteRequest:
    handler: src.handlers.requests.delete.delete_request
    events:
      - httpApi:
          path: /v0/requests/{request_id}
          method: delete
          authorizer:
            name: cognitoAuthorizer

  updateRequest:
    handler: src.handlers.requests.update.update_request
    events:
      - httpApi:
          path: /v0/requests/{request_id}
          method: patch
          authorizer:
            name: cognitoAuthorizer

  # -----------------------------------------------------------------------------
  # FAVORITES (All require authentication)
  # -----------------------------------------------------------------------------
  createFavorite:
    handler: src.handlers.favorites.create.create_favorite
    events:
      - httpApi:
          path: /v0/favorites
          method: post
          authorizer:
            name: cognitoAuthorizer

  deleteFavorite:
    handler: src.handlers.favorites.delete.delete_favorite
    events:
      - httpApi:
          path: /v0/favorites/{favorite_id}
          method: delete
          authorizer:
            name: cognitoAuthorizer

  listUserFavorites:
    handler: src.handlers.favorites.list.list_user_favorites
    events:
      - httpApi:
          path: /v0/favorites
          method: get
          authorizer:
            name: cognitoAuthorizer
# -----------------------------------------------------------------------------
# RESOURCES
# -----------------------------------------------------------------------------
