# serverless.yml
service: nwassik-store

frameworkVersion: "4"

plugins:
  - serverless-python-requirements

package:
  patterns: # Let's keep it minimalistic, maybe I will change it later
    - "src/"
    - ".gitignore"
    - "README.md"
    - "requirements.txt"
    - "serverless.yaml"
    - "!venv/**" # ← Explicitly exclude venv
    - "!node_modules/**" # ← Explicitly exclude node_modules
    - "!__pycache__/**" # ← Explicitly exclude pycache

custom:
  pythonRequirements:
    usePoetry: false
    dockerizePip: true # <<--- build wheels in Docker (required for compiled deps as I am on MacOS)
    useStaticCache: false # ← Disable cache
    # useDownloadCache: false # ← Disable download cache

    dockerBuildCmd: |
      pip install \
        --platform manylinux2014_x86_64 \
        --target /var/task \
        --implementation cp \
        --python-version 3.11 \
        --only-binary=:all: \
        --upgrade \
        -r requirements.txt

  dynamodbTableName: ${self:service}-dynamodb-${sls:stage}

provider:
  name: aws
  runtime: python3.11
  region: eu-west-3
  stage: NotToUseStage
  environment:
    STAGE: ${sls:stage}
    DYNAMODB_TABLE: ${self:custom.dynamodbTableName}
  # TODO: Upgrade all http with httpApi for single place CORS with API Gateway V2
  # httpApi:
  #   cors: true # ← Central CORS for ALL endpoints
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:* # FIXME: too permissive
          Resource:
            - "arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/${self:custom.dynamodbTableName}"
functions:
  # -----------------------------------------------------------------------------
  # HEALTH CHECK
  # -----------------------------------------------------------------------------
  healthCheck:
    handler: src/handlers/health/check.health_check
    events:
      - http:
          path: /health
          method: get

  # -----------------------------------------------------------------------------
  # REQUESTS
  # -----------------------------------------------------------------------------
  # TODO: CORS is enabled from everywhere, please be explicit or remove it
  listRequests:
    handler: src/handlers/requests/list.list_requests
    events:
      - http:
          path: /requests
          method: get
          cors: true
  createRequest:
    handler: src/handlers/requests/create.create_request
    events:
      - http:
          path: /requests
          method: post
          cors: true
  getRequest:
    handler: src/handlers/requests/get.get_request
    events:
      - http:
          path: /requests/{request_id}
          method: get
          cors: true
  deleteRequest:
    handler: src/handlers/requests/delete.delete_request
    events:
      - http:
          path: /requests/{request_id}
          method: delete
          cors: true
  listMyRequests:
    handler: src/handlers/requests/mine.list_my_requests
    events:
      - http:
          path: /requests/mine
          method: get
          cors: true

# -----------------------------------------------------------------------------
# RESOURCES
# -----------------------------------------------------------------------------
resources:
  Resources:
    RequestsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.dynamodbTableName}
        AttributeDefinitions:
          - AttributeName: pk
            AttributeType: S
          - AttributeName: sk
            AttributeType: S
        KeySchema:
          - AttributeName: pk
            KeyType: HASH
          - AttributeName: sk
            KeyType: RANGE
        BillingMode: PAY_PER_REQUEST
