# serverless.yml

service: nwassik-store

frameworkVersion: "4"

plugins:
  # NOTE: By default, Serverless doesn't know how to bundle Python packages
  - serverless-python-requirements

package:
  patterns: # import the bare minimum (minimalistic)
    - "src/"
    - "README.md"
    - "requirements.txt"
    - "serverless.yaml"
    - "!.gitignore"
    - "!venv/**" # ← Explicitly exclude venv
    - "!node_modules/**" # ← Explicitly exclude node_modules
    - "!__pycache__/**" # ← Explicitly exclude pycache
custom:
  stages:
    prod:
      baseDomain: https://api.nwassik.com # Required, otherwise make follow below format
    # Optional stages (listed for easy reference: All other stages https://api-{stage}.nwassik.com )
    dev:
      baseDomain: https://api-dev.nwassik.com
    staging:
      baseDomain: https://api-staging.nwassik.com

  # NOTE: exact keyword needed by "serverless-python-requirements" plugin
  pythonRequirements:
    usePoetry: false
    dockerizePip: true # <<--- build wheels in Docker (required for compiled deps as I am on MacOS)
    useStaticCache: false # ← Disable cache

    dockerBuildCmd: |
      pip install \
        --platform manylinux2014_x86_64 \
        --target /var/task \
        --implementation cp \
        --python-version 3.11 \
        --only-binary=:all: \
        --upgrade \
        -r requirements.txt

  # Centralized CORS configuration
  corsConfig: &corsConfig
    origin:
      - http://localhost:8080
      - https://nwassik.com
      - https://www.nwassik.com
    headers:
      - Content-Type
      - Authorization
    allowCredentials: true

provider:
  name: aws
  runtime: python3.11
  region: eu-west-3
  stage: NotToUseStage
  environment:
    RUN_ENV: cloud # Running in AWS Lambda (cloud) vs local
    STAGE: ${sls:stage} # used in Python code to detect Lambda stage
    BASE_DOMAIN: ${self:custom.stages.${sls:stage}.baseDomain, 'https://api-${sls:stage}.nwassik.com'} # Stage-specific API domain
    DATABASE_SECRET_NAME: "nwassik/${sls:stage}/app-db-secret" # Secrets Manager secret
    MAX_USER_CREATED_REQUESTS: 20
    MAX_USER_CREATED_FAVORITES: 100
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - secretsmanager:GetSecretValue
          Resource: arn:aws:secretsmanager:eu-west-3:689688455606:secret:nwassik/${sls:stage}/app-db-secret-*
        - Effect: Allow
          Action:
            - dsql:DbConnect
          Resource: arn:aws:dsql:eu-west-3:689688455606:cluster/*

functions:
  # -----------------------------------------------------------------------------
  # HEALTH CHECK
  # -----------------------------------------------------------------------------
  healthCheck:
    handler: src/handlers/health/check.health_check
    events:
      - http:
          path: /health
          method: get

  # -----------------------------------------------------------------------------
  # REQUESTS
  # -----------------------------------------------------------------------------
  listRequests:
    handler: src/handlers/requests/list.list_requests
    events:
      - http:
          path: /requests
          method: get
          cors: *corsConfig

  createRequest:
    handler: src/handlers/requests/create.create_request
    events:
      - http:
          path: /requests
          method: post
          cors: *corsConfig

  getRequest:
    handler: src/handlers/requests/get.get_request
    events:
      - http:
          path: /requests/{request_id}
          method: get
          cors: *corsConfig

  listUserRequests:
    handler: src/handlers/requests/list_user_requests.list_user_requests
    events:
      - http:
          path: /users/{user_id}/requests
          method: get
          cors: *corsConfig

  deleteRequest:
    handler: src/handlers/requests/delete.delete_request
    events:
      - http:
          path: /requests/{request_id}
          method: delete
          cors: *corsConfig

  updateRequest:
    handler: src/handlers/requests/update.update_request
    events:
      - http:
          path: /requests/{request_id}
          method: patch
          cors: *corsConfig

  # -----------------------------------------------------------------------------
  # FAVORITES
  # -----------------------------------------------------------------------------
  createFavorite:
    handler: src/handlers/favorites/create.create_favorite
    events:
      - http:
          path: /favorites
          method: post
          cors: *corsConfig

  deleteFavorite:
    handler: src/handlers/favorites/delete.delete_favorite
    events:
      - http:
          path: /favorites/{favorite_id}
          method: delete
          cors: *corsConfig

  listUserFavorites:
    handler: src/handlers/favorites/list.list_user_favorites
    events:
      - http:
          path: /favorites
          method: get
          cors: *corsConfig
# -----------------------------------------------------------------------------
# RESOURCES
# -----------------------------------------------------------------------------
