# serverless.yml

service: nwassik-store

frameworkVersion: "4"

plugins:
  - serverless-python-requirements

package:
  patterns: # import the bare minimum (minimalistic)
    - "src/"
    - ".gitignore"
    - "README.md"
    - "requirements.txt"
    - "serverless.yaml"
    - "!venv/**" # ← Explicitly exclude venv
    - "!node_modules/**" # ← Explicitly exclude node_modules
    - "!__pycache__/**" # ← Explicitly exclude pycache

custom:
  pythonRequirements:
    usePoetry: false
    dockerizePip: true # <<--- build wheels in Docker (required for compiled deps as I am on MacOS)
    useStaticCache: false # ← Disable cache

    dockerBuildCmd: |
      pip install \
        --platform manylinux2014_x86_64 \
        --target /var/task \
        --implementation cp \
        --python-version 3.11 \
        --only-binary=:all: \
        --upgrade \
        -r requirements.txt

provider:
  name: aws
  runtime: python3.11
  region: eu-west-3
  stage: NotToUseStage
  environment:
    STAGE: ${sls:stage}

functions:
  # -----------------------------------------------------------------------------
  # HEALTH CHECK
  # -----------------------------------------------------------------------------
  healthCheck:
    handler: src/handlers/health/check.health_check
    events:
      - http:
          path: /health
          method: get

  # -----------------------------------------------------------------------------
  # REQUESTS
  # -----------------------------------------------------------------------------
  # FIXME: CORS is enabled from everywhere, I need to make it explicit/specific or remove it
  listRequests:
    handler: src/handlers/requests/list.list_requests
    events:
      - http:
          path: /requests
          method: get
          cors: true

  createRequest:
    handler: src/handlers/requests/create.create_request
    events:
      - http:
          path: /requests
          method: post
          cors: true

  getRequest:
    handler: src/handlers/requests/get.get_request
    events:
      - http:
          path: /requests/{request_id}
          method: get
          cors: true

  deleteRequest:
    handler: src/handlers/requests/delete.delete_request
    events:
      - http:
          path: /requests/{request_id}
          method: delete
          cors: true
# TODO: Add update request

# -----------------------------------------------------------------------------
# RESOURCES
# -----------------------------------------------------------------------------
