# serverless.yml

service: nwassik-store

frameworkVersion: "4"

plugins:
  - serverless-python-requirements

package:
  patterns: # Let's keep it minimalistic, maybe I will change it later
    - "src/"
    - ".gitignore"
    - "README.md"
    - "requirements.txt"
    - "serverless.yaml"
    - "!venv/**" # ← Explicitly exclude venv
    - "!node_modules/**" # ← Explicitly exclude node_modules
    - "!__pycache__/**" # ← Explicitly exclude pycache

custom:
  dynamodbTables:
    RequestsTableName: ${self:service}-dynamodb-requests-${sls:stage}
    FavoritesTableName: ${self:service}-dynamodb-favorites-${sls:stage}
  pythonRequirements:
    usePoetry: false
    dockerizePip: true # <<--- build wheels in Docker (required for compiled deps as I am on MacOS)
    useStaticCache: false # ← Disable cache

    dockerBuildCmd: |
      pip install \
        --platform manylinux2014_x86_64 \
        --target /var/task \
        --implementation cp \
        --python-version 3.11 \
        --only-binary=:all: \
        --upgrade \
        -r requirements.txt

provider:
  name: aws
  runtime: python3.11
  region: eu-west-3
  stage: NotToUseStage
  environment:
    STAGE: ${sls:stage}
    DYNAMODB_TABLE_REQUESTS: ${self:custom.dynamodbTables.RequestsTableName}
    DYNAMODB_TABLE_FAVORITES: ${self:custom.dynamodbTables.FavoritesTableName}
    # COGNITO_USER_POOL_ID:
    #   Ref: CognitoUserPool
    # COGNITO_USER_POOL_CLIENT_ID:
    #   Ref: CognitoUserPoolClient

  # TODO: Upgrade all http with httpApi for single place CORS with API Gateway V2
  # httpApi:
  #   cors: true # ← Central CORS for ALL endpoints
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - dynamodb:* # FIXME: too permissive
          Resource:
            - "arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/${self:custom.dynamodbTables.RequestsTableName}*" # Indexes are mandatory
            - "arn:aws:dynamodb:${aws:region}:${aws:accountId}:table/${self:custom.dynamodbTables.FavoritesTableName}*"
functions:
  # -----------------------------------------------------------------------------
  # HEALTH CHECK
  # -----------------------------------------------------------------------------
  healthCheck:
    handler: src/handlers/health/check.health_check
    events:
      - http:
          path: /health
          method: get

  # -----------------------------------------------------------------------------
  # REQUESTS
  # -----------------------------------------------------------------------------
  # FIXME: CORS is enabled from everywhere, I need to make it explicit/specific or remove it
  listRequests:
    handler: src/handlers/requests/list.list_requests
    events:
      - http:
          path: /requests
          method: get
          cors: true

  createRequest:
    handler: src/handlers/requests/create.create_request
    events:
      - http:
          path: /requests
          method: post
          cors: true
          # authorizer:
          #   type: COGNITO_USER_POOLS
          #   authorizerId:
          #     Ref: ApiGatewayCognitoAuthorizer

  getRequest:
    handler: src/handlers/requests/get.get_request
    events:
      - http:
          path: /requests/{request_id}
          method: get
          cors: true

  deleteRequest:
    handler: src/handlers/requests/delete.delete_request
    events:
      - http:
          path: /requests/{request_id}
          method: delete
          cors: true
          # authorizer:
          #   type: COGNITO_USER_POOLS
          #   authorizerId:
          #     Ref: ApiGatewayCognitoAuthorizer

  listMyRequests:
    handler: src/handlers/requests/mine.list_my_requests
    events:
      - http:
          path: /requests/mine
          method: get
          cors: true
          # authorizer:
          #   type: COGNITO_USER_POOLS
          #   authorizerId:
          #     Ref: ApiGatewayCognitoAuthorizer

# -----------------------------------------------------------------------------
# RESOURCES
# -----------------------------------------------------------------------------
resources:
  Resources:
    # --------- DynamoDB service structured data persistence -------------------
    RequestsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.dynamodbTables.RequestsTableName}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: request_id
            AttributeType: S
          - AttributeName: ALL_REQUESTS
            AttributeType: S
          - AttributeName: due_date_ts
            AttributeType: N
          - AttributeName: user_id
            AttributeType: S
          - AttributeName: created_at
            AttributeType: S
        KeySchema:
          - AttributeName: request_id
            KeyType: HASH

        GlobalSecondaryIndexes:
          # GSI 1 - Global feed (sorted by due_date)
          # TODO: Hot partition possibility in case of usage spike, but for early phase this is OK
          # Note: Data pagination is independent of storage type (dynamodb, redis, ..), so later I can
          # simply add Redis in front of dynamodb with Geo proximity feature/filter
          - IndexName: AllRequestsGSI
            KeySchema:
              - AttributeName: ALL_REQUESTS
                KeyType: HASH
              - AttributeName: due_date_ts
                KeyType: RANGE
            Projection:
              ProjectionType: ALL

          # GSI 2 - User-created requests
          - IndexName: UserRequestsGSI
            KeySchema:
              - AttributeName: user_id
                KeyType: HASH
              - AttributeName: created_at
                KeyType: RANGE
            Projection:
              ProjectionType: ALL # TODO: Probably Should change that to INCLUDE with only necessary fields
    FavoritesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:custom.dynamodbTables.FavoritesTableName}
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: favorite_id
            AttributeType: S
          - AttributeName: user_id
            AttributeType: S
          - AttributeName: request_id
            AttributeType: S
        KeySchema:
          - AttributeName: favorite_id
            KeyType: HASH

        GlobalSecondaryIndexes:
          - IndexName: GSI_UserFavorites
            KeySchema:
              - AttributeName: user_id
                KeyType: HASH
            Projection:
              ProjectionType: INCLUDE
              NonKeyAttributes:
                - request_id

          - IndexName: GSI_RequestFavorites
            KeySchema:
              - AttributeName: request_id
                KeyType: HASH
            Projection:
              ProjectionType: INCLUDE
              NonKeyAttributes:
                - user_id

    # # --- Cognito user pool -----------------------
    # CognitoUserPool:
    #   Type: AWS::Cognito::UserPool
    #   Properties:
    #     UserPoolName: ${self:service}-cognito-userpool-${sls:stage}
    #     AutoVerifiedAttributes:
    #       - email
    #     # TODO: Product decision maybe we should add also phone number as a username
    #     UsernameAttributes:
    #       - email
    #     Policies:
    #       # FIXME: Policy too permissive
    #       PasswordPolicy:
    #         MinimumLength: 5
    #         RequireLowercase: false
    #         RequireNumbers: false
    #         RequireSymbols: false
    #         RequireUppercase: false

    # # --- Cognito user pool client-----------------------
    # CognitoUserPoolClient:
    #   Type: AWS::Cognito::UserPoolClient
    #   Properties:
    #     ClientName: ${self:service}-cognito-userpool-client-${sls:stage}
    #     UserPoolId:
    #       Ref: CognitoUserPool
    #     GenerateSecret: false
    #     ExplicitAuthFlows:
    #       - ALLOW_USER_PASSWORD_AUTH
    #       - ALLOW_REFRESH_TOKEN_AUTH
    #       - ALLOW_USER_SRP_AUTH

    #     # TODO: Probably should add Google and Facebook as the only Social Providers in addition to cognito
    #     SupportedIdentityProviders:
    #       - COGNITO

    # # --- API Gateway authorizer (REST API v1) ----
    # ApiGatewayCognitoAuthorizer:
    #   Type: AWS::ApiGateway::Authorizer
    #   Properties:
    #     Name: ${self:service}-cognito-authorizer-${sls:stage}
    #     Type: COGNITO_USER_POOLS
    #     RestApiId:
    #       Ref: ApiGatewayRestApi
    #     IdentitySource: method.request.header.Authorization # This is the Authorization header
    #     ProviderARNs:
    #       - Fn::GetAtt:
    #           - CognitoUserPool
    #           - Arn
